<div style="margin-top:20px">
	<% for i in 0..50 %>
		<row>
			<div class="col-md-3">
				<div class="panel panel-green">
					<div class="panel-heading">
						Lote #
						<%=i %>
					</div>
					<div class="panel-body" style="text-align:center">
						<row>
							<div class="col-xs-6 panel panel-yellow">
								<div class="panel-heading">
									Año de Siembra
								</div>			
								<div class="panel-body">
									sepa putas
								</div>					
							</div>
							<div class="col-xs-6 panel panel-yellow">
								<div class="panel-heading">
									Material
								</div>			
								<div class="panel-body">
									No Jodas
								</div>					
							</div>
						</row>
					</div>
				</div>
			</div>
		</row>
	<% end %>
</div>