<div id="chart_div<%=val%>", class="col-md-4">
  <% hash = Lot.chart_values(val) %>
  <%= bar_chart data = {
  labels: lot.uniq.pluck(:name),
  datasets: [
    {
      data: lot.group(:name).sum(hash['vAxis']).values,
      backgroundColor: "rgba(61, 198, 185, 0.7)",
      borderColor: "rgba(75,192,192,1)"
    }
  ]
  }, options = {
      legend: {display: false},
      scales: {yAxes: [{ticks: {beginAtZero:true}}]},
      title: {display: true, text: hash['vAxisLabel']}
}%>
</div>
