<% if flash[:error] %>
	<div class="form_errors" style="background-color:#dd4949; color:white;">
			<ul>
				<%- flash[:error].each do |msg| %>
					<li><%= t(msg) %></li>
				<%- end %>
			</ul>
		</div>
<% end %>
