<% if flash[:error] %>
	<div class="form_errors">
			Por favor corrija los siguientes problemas:
			<ul>
				<%- flash[:error].each do |msg| %>
					<li><%= t(msg) %></li>
				<%- end %>
			</ul>
		</div>
<% end %>
