<div id="chart_div<%=val%>", class="col-md-4 hidden">
  <% hash = Lot.chart_values(val) %>
  <% data_val =  variable.group(:assigned_at).sum(hash['vAxis']) %>

  <% data = {
    labels: data_val.keys.map{|val| format_date(val)},
    datasets:
      [
        {
          data: data_val.values.map {|val| sprintf("%.3f", val)},
          backgroundColor: "rgba(61, 198, 185, 0.7)",
          borderColor: "rgba(0,0,0,1)"
        }
      ]
  } %>

  <% options = {
    legend: {display: false},
    scales: {yAxes: [{ticks: {beginAtZero:true}}]},
    title: {display: true, text: hash['vAxisLabel'], fontSize: 17}
  } %>

  <% if graph == "Linea" %>
    <%= line_chart data, options %>
  <% else %>
    <%= bar_chart data, options %>
  <% end %>
</div>
