<button type="button" class="btn btn-outline btn-success btn-lg" data-toggle="modal" data-target="#myModal" onClick="focus_field('#field1')" style="margin-bottom:20px">
  <span class="fa fa-plus"></span>
  <%= string %>
</button>