<row>
  <div class="col-md-3">
    <div class="panel panel-green">
      <div class="panel-heading">
        <%= project.title%>
      </div>
      <div class="panel-body">
        <%if(project.image_url)%>
          <%=link_to(image_tag("project_example.jpeg",:class=>"img_style", :title => "Click aqui para ver los lotes del proyecto"),project)%>
        <%else%>
          <%=link_to(image_tag("project_example.jpeg",:class=>"img_style", :title => "Click aqui para ver los lotes del proyecto"),project)%>
        <%end%>
      </div>
      <div class="panel-footer">
        Footer
      </div>
    </div>
  </div>
</row>
