<h1 class="page-header">Proyectos</h1>
<%= modal_button("btn-success", "fa-plus", "Nuevo Proyecto") %>

<div class="row">
	<%= render @projects %>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<%= render partial: "form", locals: {project: @new_project} %>
</div>
