<h1 class="page-header">Proyectos</h1>
<%= render 'shared/new_button', string: "Nuevo Proyecto" %>

<div class="row">
	<%= render @projects %>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<%= render partial: "form", locals: {project: @new_project} %>
</div>