<row>
  <div class="col-md-3">
    <div class="panel panel-green">
      <div class="panel-heading">
        Heading
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
      </div>
      <div class="panel-footer">
        Footer
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-green">
      <div class="panel-heading">
        Heading
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
      </div>
      <div class="panel-footer">
        Footer
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-green">
      <div class="panel-heading">
        Heading
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
      </div>
      <div class="panel-footer">
        Footer
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-green">
      <div class="panel-heading">
        Heading
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
      </div>
      <div class="panel-footer">
        Footer
      </div>
    </div>
  </div>
</row>
<row>
  <div class="col-md-3">
    <div class="panel panel-green">
      <div class="panel-heading">
        Heading
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
      </div>
      <div class="panel-footer">
        Footer
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-green">
      <div class="panel-heading">
        Heading
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
      </div>
      <div class="panel-footer">
        Footer
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-green">
      <div class="panel-heading">
        Heading
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
      </div>
      <div class="panel-footer">
        Footer
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-green">
      <div class="panel-heading">
        Heading
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
      </div>
      <div class="panel-footer">
        Footer
      </div>
    </div>
  </div>
</row>
