<div style="margin-top:20px">
  <% for i in 0..50 %>
    <row>
      <div class="col-md-3">
        <div class="panel panel-green">
          <div class="panel-heading" style="text-align:center">
            <%=link_to ("Lote",)%> #
            <%=i %>
          </div>
          <div class="panel-body" style="text-align:center">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-7" style="text-align:center">Año Siembra</th>
                  <th class="col-md-5" style="text-align:center">Material</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-md-7">1995</td>
                  <td class="col-md-5">ASD</td>
                </tr>
              </tbody>
            </table>
            <table class="table" style="text-align:center">
              <thead>
                <tr>
                  <th class="col-md-7" style="text-align:center">Hectáreas</th>
                  <th class="col-md-5" style="text-align:center">Sección</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-md-7" style="text-align:center">12.7</td>
                  <td class="col-md-5" style="text-align:center">A</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </row>
  <% end %>
</div>
