<% @variables.each do |v| %>
<tr>
  <td>
    <%= reportVariables.name %>
  </td>
  <td>
  <%= @lot.sum_values(v.category) %> 
  </td>
  <td>

  </td>
  <td>
  	<%= reportVariables.unit_cost%>
  </td>
</tr>
<% end %>