<tr>
  <td>
    <%= variable.name %>
  </td>
  <td contenteditable="true">
  </td>
  <td contenteditable="true">
  	<%= variable.unit_cost%>
  </td>
  <td contenteditable="true">
  </td>
  <td contenteditable="true">
  </td>
  <td contenteditable="true">
  </td>
  <td>
  </td>
  <td>
  <!--<%=  text_field :variable, class: "form-control" %> -->
    
  </td>
</tr>
