<tr>
  <td>
    <%= link_to variable.name, project_lot_variable_history_path(lot.project.id, lot.id, variable.id) %>
  </td>
  <td contenteditable="true">
  </td>
  <td contenteditable="true">
  	<%= variable.unit_cost%>
  </td>
  <td>
  </td>
</tr>
