<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Nuevo Lote</h1>
  </div>
<%= render partial: "shared/errors", locals: { obj: @lot } %>
<%= render partial: "form", locals: {lot: @lot} %>
</div>
