<%= link_to project_lot_report_path(@lot.project, @lot), class: "btn btn-outline btn-success btn-lg", style: "margin-bottom: 20px" do%>
  <span class="fa fa-newspaper-o"></span>
  Reportes
<% end %>

<div class="panel panel-default variables-panel">
  <div class="panel-heading">
    Variables
  </div>
  <div class="panel-body">
    <div class="panel-group" id="accordion">
      <%= render :partial => "category", :collection => Category.all, :locals => {lot: @lot} %>
    </div>
  </div>
</div>
