<div class="panel panel-default variables-panel">
  <div class="panel-heading">
    Variables
  </div>
  <div class="panel-body">
    <div class="panel-group" id="accordion">
      <%= render partial: "category", collection: @categories, locals: {lot: @lot} %>
    </div>
  </div>
</div>