// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-panel-heading {
	font-size: 20px;
	text-align: center;
}

.project-panel-body {
	height: 200px;
 }

#hoverable{
  opacity: .7
}

#hoverable:hover{
  opacity: 1;
}

#nav-wrapper{
  margin-top:20px;
  margin-bottom:20px;
}

.img_style{
	width: 100%;
  height: 100%;
}

.btn.btn-default.btn-circle{
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  padding: 0px 0px;
  line-height:1.2;
  border-radius: 15px;
}

.thumb{
  height: 70px;
  max-height: 70px;
  width: 70px;
  max-width: 70px;
}

.thumb-td{
  height: 70px;
  max-height: 70px;
  width: 85px;
  max-width: 85px;
}