// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img_style{
	width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  opacity: .7;
}

.img_style:hover{
	opacity: 1;
}
.btn.btn-default.btn-circle{
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  padding: 0px 0px;
  line-height:1.2;
  border-radius: 15px;
}
.wrapper {
    width: 500px;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.first {
    width: 300px;
    float:left; /* add this */
}
.second {
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
