<div role="document" >
	<div class="modal-header">
			<h3>Nueva Categoría</h3>
	</div>
	<div id="error_div"></div>
	<%= form_for(@new_category, remote: true) do |c| %>
		<div class="modal-body">
	      	<div class="form-group">
				<%= c.label :name, "Nombre" %>
				<%= c.text_field :name, id: "field1", class: "form-control" %>
	      	</div>
		</div>
		<div class="modal-footer">
			<div class="btn-group" role="group">
			    <button type="button" class="btn btn-danger" data-dismiss="modal" onClick="clear_field(['#field1'])">Cancelar</button>
				<%= c.submit "Guardar",class: "btn btn-primary" %>
			</div>
		</div>
	<%end%>
</div>
