<h1 class="page-header"> Categorías </h1>

<%= modal_button("btn-success", "fa-plus", "Nueva Categoria") %>

<table class="table">
	<thead>
		<tr>
			<th class="col-md-10"> Nombre </th>
			<th class="col-md-2" style="text-align:center"> Borrar </th>
		</tr>
	</thead>
	<tbody>
		<% @categories.each do |cat| %>
			<tr>
				<td class="col-md-9"><%= cat.name %></td>
				<td class="col-md-3" style="text-align:center">
					<%= link_to category_path(cat.id), data: {method: :delete, confirm: "Seguro que desea eliminar esta categoria?"} do %>
						<span class="fa fa-trash fa-2x"></span>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<%= render partial: "form", locals: {new_category: @new_category} %>
</div>
