<h1> Categorias </h1>

<table class="table">
	<thead>
		<tr>
			<th class="col-md-10"> Nombre </th>
			<th class="col-md-2" style="text-align:right"> Borrar </th>
		</tr>
	</thead>
	<tbody>
		<% @categories.each do |cat| %>
			<tr>
				<td class="col-md-10"><%= cat.name %></td>
				<td class="col-md-2" style="text-align:right">
				<!-- Ghetto approach, change if possible-->
					<%= link_to '<span class="fa fa-trash"></span> Borrar'.html_safe, category_path(cat.id), data: {method: :delete, confirm: "Seguro que desea eliminar esta categoria?"} %>
				</td>
			</tr>
		<% end %>
		<tr>
			<td class="col-md-12">
				<button type="button" class="btn" data-toggle="modal" data-target="#myModal">
	 				Nueva Categoria
				</button>
			</td>
			<td></td>
		</tr>
	</tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div role="document">
      <div class="modal-body">
        OREM LIPSUM ISAIDNdisabdiu dOREM LIPSUM ISAIDNdisabdiu dOREM LIPSUM ISAIDNdisabdiu dOREM LIPSUM ISAIDNdisabdiu dOREM LIPSUM ISAIDNdisabdiu dOREM LIPSUM ISAIDNdisabdiu dOREM LIPSUM ISAIDNdisabdiu dOREM LIPSUM ISAIDNdisabdiu dOREM LIPSUM ISAIDNdisabdiu dOREM LIPSUM ISAIDNdisabdiu dOREM LIPSUM ISAIDNdisabdiu dOREM LIPSUM ISAIDNdisabdiu dOREM LIPSUM ISAIDNdisabdiu d
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Crear</button>
      </div>
    </div>
</div>